/NetBeansProjects/ProjetosSwing/ProjetoTriangulo/build/
/NetBeansProjects/ProjetosSwing/ProjetoTriangulo/nbproject/private/
/NetBeansProjects/ProjetosSwing/SomaSwing/build/
/NetBeansProjects/ProjetosSwing/SomaSwing/nbproject/private/
/NetBeansProjects/ProjetosSwing/programaParImpar/build/
/NetBeansProjects/ProjetosSwing/programaParImpar/nbproject/private/
/NetBeansProjects/ProjetosSwing/OlaMundoSwing/build/
/NetBeansProjects/ProjetosSwing/OlaMundoSwing/nbproject/private/
/NetBeansProjects/ProjetosSwing/FatorialSwing/build/
/NetBeansProjects/ProjetosSwing/FatorialSwing/nbproject/private/
/NetBeansProjects/ProjetosSwing/EquacaoSegundoGrauSwing/build/
/NetBeansProjects/ProjetosSwing/EquacaoSegundoGrauSwing/nbproject/private/
/NetBeansProjects/vetor1/target/
/NetBeansProjects/ExercicioVetorSwing/nbproject/private/
/NetBeansProjects/ExercicioVetorSwing/build/
